/* colores */
:root {
--color-bg-primario: #0378A6;
--color-bg-second: #0388A6;
--color-bg-terc: #04C4D9;
--color-bg-cuart: #BFD6D9;
--color-bg-quin: #59D9B5;
--color-bg-sex: #f0f2f3;

}

/* fuentes */
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--color-bg-cuart);
    color:var(--color-bg-sex)
}
.texto-azul {
    color: var(--color-bg-second);
}

/** Redes Sociales **/
.sociales ul {
    list-style: none;
    margin:0;
    padding:0;
}
.sociales ul li {
    position: relative;
    display: inline-block;
}
.sociales ul li a::before {
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0.4rem;
    content: '\f08e';
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
    color: var(--color-bg-terc);
}
.sociales ul li a[href*="facebook.com"]::before{
    content: '\f230';
}
.sociales ul li a[href*="twitter.com"]::before{
    content: '\f081';
}
.sociales ul li a[href*="instagram.com"]::before{
    content: '\f16d';
}
.sociales ul li a[href*="pinterest.com"]::before{
    content: '\f0d2';
}
.sociales ul li a[href*="youtube.com"]::before{
    content: '\f16a';
}

/* NAVEGACION */
/* color verde */
.navegacion {
    background-color:var(--color-bg-second);
}
/* hacer blanco el botón de hamburguesa */
.navbar-light .navbar-toggler {
    background-color: #ffffff;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
    color: #ffffff;
}

/* enlaces */
.nav-link {
    color: var(--color-bg-sex);
    font-size: 1.4rem;
    transition: background-color .5s ease-in-out;
    font-family: 'Roboto', sans-serif;
}
.nav-link:hover {
    background-color: var(--color-bg-cuart);
    color: var(--color-bg-second);
}

/** Somos fabricantes **/
.fondo-principal {
    background-color: var(--color-bg-second);
    min-height: 35rem;
    color:var(--color-bg-sex)
}
.imagen-fabrica {
    min-height: 20rem;
    background-image: url(/img/fabrica.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* composición */
.texto-composicion {
    color: var(--color-bg-second);
}
.composicion {
    min-height: 35rem;
}

.imagen-composicion {
    min-height: 25rem;
    background-size: 100%;
    background-image: url(/img/mascarillas-quirúrgicas-3-capas.png);
    background-repeat: no-repeat;
}
/* creamos un media query para que se vean las imágenes grandes y más altas en pantalla grande y tablet */
@media (min-width: 992px) {
    /* seleccionamos el primer div de imagen-superior e imagen-inferior */
     .imagen-fabrica,
     .imagen-composicion {
         height: 35rem;
         background-size: 100%;
     } 
 }
 @media (min-width: 1400px) {
    /* seleccionamos el primer div de imagen-superior e imagen-inferior */
     .imagen-fabrica,
     .imagen-composicion {
         height: 40rem;
         background-size: 100%;
     } 
 }


/* Catálogo */
.encabezado {
    font-size: 2.4rem;
    font-family: 'Roboto', sans-serif; 
    color: var(--color-bg-sex);
    line-height: 2.4rem;
}
.encabezado span {
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    color: var(--color-bg-sex);
}
.catalogo {
    background-color: var(--color-bg-second);
}
.catalogo p {
    font-family: 'Lato', sans-serif;
    color: var(--color-bg-sex);
    font-size: 1.6rem;
}
.imagen-catalogo {
    border: 6px solid #ffffff;
    -webkit-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
    transition: transform .3s ease;
}

.catalogo-info {
    background-color: var(--color-bg-second);
    margin-top: -1rem;
    width: 95%;
}
.catalogo-info .btn-primary {
    border-radius: 0;
    background-color:var(--color-bg-quin);
    border: none;
    transition: 0.3s;
}
.catalogo-info .btn-primary:hover {
    transform: scale(1.1);
}
@media (min-width: 768px) {
    .catalogo-info {
        width: 94%;
    }
}

/* citas - hablamos */
.citas {
    background-image: url(/img/oficinas.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: var(--color-bg-sex);
}
@media (min-width: 992px) {
    .citas {
        background-size: cover;
    }
}
.citas h3 {
    font-size: 3.5rem;
    font-family: 'Lato', sans-serif;
}
.citas p {
    font-size: 1.2rem;
    line-height: 2.6rem;
}
.btn-primary {
    background-color:var(--color-bg-quin);
    border: 0;
    padding: 1rem 5rem;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    transition: 0.3s;
}
.btn-primary:hover {
    transform: scale(1.1);
    background-color:var(--color-bg-quin);
}

/* Hero */
.hero {
    position: relative;
}
.hero h2 {
    position: absolute;
    bottom: 2rem;
    right: 0;
    background-color: var(--color-bg-quin);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #ffffff;
    font-size: 2.8rem;
}
.contenido-principal p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: var(--color-bg-second);
}

/* Sidebar */
aside {
    background-color: var(--color-bg-quin);
    color: #ffffff;
}
aside .contacto-sidebar {
    font-size: 1.5rem;
}
aside a {
    color: var(--color-bg-sex);
}
aside a:hover {
    color: var(--color-bg-sex);
}

/* footer */
.footer-sitio {
    background-color: var(--color-bg-second);
}
.footer-sitio ul {
    list-style: none;
    /* line-height: 2.5rem; */
}
.footer-sitio a {
    color: var(--color-bg-sex);
    text-decoration: none;
}
/* copyright */
.copyright {
    background-color: var(--color-bg-second);
    color: var(--color-bg-sex);
    font-size: .8rem;
}